<mat-nav-list>
  <div class="logo py-4">
    <img src="./assets/bus1.png" alt="Company Logo" />
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader class="mt-2">APPLICATIONS</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/users">
    <mat-icon>person_pin</mat-icon> Users
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/buscontrol"> 
    <mat-icon>directions_bus</mat-icon> Bus
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/routecontrol"> 
    <mat-icon>directions</mat-icon> Route
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/feedbackcontrol"> 
    <mat-icon>feedback</mat-icon> feedback
  </a>
</mat-nav-list>
