/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;
 }
a:hover{
    color: black;
}
body {
     margin: 0; 
     font-family: Roboto, "Helvetica Neue", sans-serif; 
     background-image: url('assets/bus.jpg');
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
